.twitterPost {
    display: flex;
    flex-direction: column;
    width: 24em;
    padding: 1em;
    margin: 0 auto;
}

.followButton {
    user-select: none;
    text-align: center;
    height: 2.5em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid blue;
    border-radius: 2em;
    color: blue;
}

.followButton:hover{
    background-color: lightblue;
}

.followButton--clicked {
    background-color: blue;
    color: white;
}

.followButton--clicked:hover {
    background-color: lightblue;
    color: blue;
}


.userBar {
    width: 24em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24em;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 1px solid black
}

.userLogo {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.userNameSection {
    display: flex;
    flex-direction: column;
}

.socialBar {
    width: 24em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 24em;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black
}

.commentsSection {
    width: 24em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment {
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid black
}

.postDate {
    width: 100%;
    padding-top: 0.5em;   
}

.mainPost {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 24em;
    border-bottom: 1px solid black
}